<ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="this.settings.layout.collapsed">
  <!-- home -->
  <li nz-menu-item (click)="tabClick('/')">
      <span title>
          <i nz-icon><fa-icon icon="home" fixedWidth="true"></fa-icon></i>
          <span jhiTranslate="global.menu.home">home</span>
      </span>
  </li>
  <li nz-submenu id="admin-menu" *jhiHasAnyAuthority="'ROLE_ADMIN'">
    <span title>
        <i nz-icon><fa-icon icon="user-plus"></fa-icon></i>
        <span jhiTranslate="global.menu.admin.main">Administration</span>
    </span>
    <ul>
      <li nz-menu-item (click)="tabClick('admin/user-management')">
        <fa-icon icon="user" fixedWidth="true"></fa-icon>
        <span jhiTranslate="global.menu.admin.userManagement">User management</span>
      </li>
      <li nz-menu-item (click)="tabClick('admin/jhi-metrics')">
        <fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>
        <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
      </li>
      <li nz-menu-item (click)="tabClick('admin/jhi-health')">
        <fa-icon icon="heart" fixedWidth="true"></fa-icon>
        <span jhiTranslate="global.menu.admin.health">Health</span>
      </li>
      <li nz-menu-item (click)="tabClick('admin/jhi-configuration')">
        <fa-icon icon="list" fixedWidth="true"></fa-icon>
        <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
      </li>
      <li nz-menu-item (click)="tabClick('admin/audits')">
        <fa-icon icon="bell" fixedWidth="true"></fa-icon>
        <span jhiTranslate="global.menu.admin.audits">Audits</span>
      </li>
      <li nz-menu-item (click)="tabClick('admin/logs')">
        <fa-icon icon="tasks" fixedWidth="true"></fa-icon>
        <span jhiTranslate="global.menu.admin.logs">Logs</span>
      </li>
      <li *ngIf="swaggerEnabled" nz-menu-item (click)="tabClick('admin/docs')">
        <fa-icon icon="book" fixedWidth="true"></fa-icon>
        <span jhiTranslate="global.menu.admin.apidocs">API</span>
      </li>
      <li *ngIf="!inProduction" nz-menu-item>
        <a href='./h2-console' target="_tab">
          <fa-icon icon="hdd" fixedWidth="true"></fa-icon>
          <span jhiTranslate="global.menu.admin.database">Database</span>
        </a>
      </li>
    </ul>
  </li>
  <li nz-submenu id="entity-menu">
    <span title>
        <i nz-icon><fa-icon icon="th-list"></fa-icon></i>
        <span jhiTranslate="global.menu.entities.main">
            Entities
        </span>
    </span>
    <ul>
      <li nz-menu-item (click)="tabClick('points')">
        <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
        <span jhiTranslate="global.menu.entities.points">Points</span>
      </li>
      <li nz-menu-item (click)="tabClick('weight')">
        <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
        <span jhiTranslate="global.menu.entities.weight">Weight</span>
      </li>
      <li nz-menu-item (click)="tabClick('blood-press')">
        <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
        <span jhiTranslate="global.menu.entities.bloodPress">Blood Press</span>
      </li>
      <li nz-menu-item (click)="tabClick('preferences')">
        <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
        <span jhiTranslate="global.menu.entities.preferences">Preferences</span>
      </li>
    </ul>
  </li>
</ul>
