<div class="page-header">
    <h2><span jhiTranslate="diamondApp.bloodPress.detail.title">Blood Press</span> {{bloodPress.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
</div>
<div class="page-content">
    <nz-card>
        <div class="row justify-content-center">
            <div class="col-8">
                <div *ngIf="bloodPress">
                    <dl class="row-md jh-entity-details">
                        <dt><span jhiTranslate="diamondApp.bloodPress.timestamp">Timestamp</span></dt>
                        <dd>
                            <span>{{bloodPress.timestamp | date:'medium'}}</span>
                        </dd>
                        <dt><span jhiTranslate="diamondApp.bloodPress.systolic">Systolic</span></dt>
                        <dd>
                            <span>{{bloodPress.systolic}}</span>
                        </dd>
                        <dt><span jhiTranslate="diamondApp.bloodPress.diastolic">Diastolic</span></dt>
                        <dd>
                            <span>{{bloodPress.diastolic}}</span>
                        </dd>
                        <dt><span jhiTranslate="diamondApp.bloodPress.user">User</span></dt>
                        <dd>
                            {{bloodPress.user?.login}}
                        </dd>
                    </dl>
        
                    <button type="submit"
                            (click)="previousState()"
                            class="btn btn-info">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                    </button>
        
                    <button type="button"
                            [routerLink]="['/blood-press', bloodPress.id, 'edit']"
                            class="btn btn-primary">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                    </button>
                </div>
            </div>
        </div> 
    </nz-card>
</div>
