<nz-header class="jh-header">
    <!-- <i class="trigger" nz-icon [type]="this.settings.layout.collapsed?'menu-unfold':'menu-fold'" (click)="toggleCollapsedSidebar()"></i> -->
    <fa-icon class="trigger" [icon]="this.settings.layout.collapsed? 'indent' : 'outdent'" aria-hidden="true" (click)="toggleCollapsedSidebar()"></fa-icon>
    <div class="right-content">
        <nz-dropdown class="nav-item pointer" [nzPlacement]="'bottomRight'" [ngSwitch]="isAuthenticated()">
          <a nz-dropdown class="nav-link">
            <span *ngIf="!getImageUrl()">
                <fa-icon icon="user"></fa-icon>
                <span jhiTranslate="global.menu.account.main">
                  Account
                </span>
              </span>
              <span *ngIf="getImageUrl()">
                <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
            </span>
          </a>
          <ul nz-menu nzSelectable>
            <li nz-menu-item *ngSwitchCase="true">
              <a routerLink="settings" routerLinkActive="active">
                <fa-icon icon="wrench" fixedWidth="true"></fa-icon>
                <span jhiTranslate="global.menu.account.settings">Settings</span>
              </a>
            </li>
            <li nz-menu-item *ngSwitchCase="true">
              <a routerLink="password" routerLinkActive="active">
                <fa-icon icon="clock" fixedWidth="true"></fa-icon>
                <span jhiTranslate="global.menu.account.password">Password</span>
              </a>
            </li>
            <li nz-menu-item *ngSwitchCase="true">
                <a (click)="logout()" id="logout">
                    <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.logout">Sign out</span>
                </a>
            </li>
            <li nz-menu-item *ngSwitchCase="false">
                <a (click)="login()" id="login">
                    <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.login">Sign in</span>
                </a>
            </li>
            <li nz-menu-item *ngSwitchCase="false">
                <a routerLink="register" routerLinkActive="active">
                    <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.register">Register</span>
                </a>
            </li>
          </ul>
        </nz-dropdown>
        <nz-dropdown class="nav-item pointer" [nzPlacement]="'bottomRight'" *ngIf="languages && languages.length > 1">
          <a nz-dropdown class="nav-link">
            <span>
                <fa-icon icon="flag"></fa-icon>
                <span jhiTranslate="global.menu.language">Language</span>
            </span>
          </a>
          <ul nz-menu nzSelectable>
            <li nz-menu-item *ngFor="let language of languages">
                  <a href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
            </li>
          </ul>
        </nz-dropdown>
    </div>
</nz-header>
