/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
    font-weight: 300;
}

body {
    background: #e4e5e6;
    text-rendering: optimizeLegibility;
}

#root,
body,
html {
    height: 100%;
}

a {
    color: #533f03;
    font-weight: bold;
}

a:hover {
    color: #533f03;
    font-weight: bold;
    /* make sure browsers use the pointer cursor for anchors, even with no href */
    cursor: pointer;
}

/* jhipster-needle-css-add-main JHipster will add new css style */
.global-header-index-right {
    float: right;
    height: 100%;
    overflow: hidden;
}

.global-header-index-right .global-header-index-action {
    cursor: pointer;
    padding: 0 12px;
    display: inline-block;
    transition: all 0.3s;
    height: 100%;
}

.page-header {
    background: #fff;
    padding: 16px 32px 0;
    border-bottom: 1px solid #e8e8e8;
}

.page-content {
    margin: 24px 24px 0;
}
